server {
    listen 8002;
    listen 8004;
    listen 8005;

	server_name localhost;
    host 127.0.0.1;
    root docs/fusion_web/;
    # client_max_body_size 3000000;
	index index.html abc.html;

    location / {
        allow_methods DELETE POST;
        autoindex off;
    }

    location /tours {
        autoindex on;
        index tours1.html abc.html index.html;
        allow_methods GET POST;
    }

	location /red {
		return 303 /tours;
	}

    location /cgi-bin {
        root ./;
        allow_methods POST DELETE;
        index time.py;
        cgi_path /usr/bin/python3 /bin/bash;
        cgi_ext .py .sh;
    }
}

server {
    listen 8003;
    host 127.0.0.1;
    server_name www.example.com
    root docs/fusion_web2/;
	index siege.html;
    error_page 404 error_page/404.html;
}


